:root {
    --font: "Jost";
}


html, body {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}


p {
    margin: 0;
}


.container {
    position: relative;
    
    width: 1320px;
    height: auto;
    display: flex;
   
}

/* Navbar */

.navbar_fream {
    position: relative;
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(68, 50, 151);
}

.navbar_fream .container {
    
    padding: 20px 0px 14px;
    flex-direction: column;
}

.navbar_fream .navbar_top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
   
}



.navbar_fream .navbar_top > a img {
    margin-right:76px;
    width: 117px;
    height: 36px;
}

.navbar_fream .navbar_top  .nav_search_frame {
    width: 650px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    background:#fff;
    border-radius:6px;
}


.navbar_fream .navbar_top .search_box {
    padding: 10px 17px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_fream .search_box .category_list {
    width: 166px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #d6d6d6;
}

.navbar_fream .category_list select {
    width: 140px;
    height: 30px;

    border:none;
    outline:none;
    color: rgb(4, 30, 66);
    font-family: var(--font);

font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.navbar_fream .search_box input {
    margin-left:12px;
    width: 387px;
    height: 22px;
    border:none;
    outline:none;

    color: rgb(98, 105, 116);
font-family: Jost;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}

.navbar_fream .nav_search_frame .search_icon_box {
    width:50px;
    height:50px;
    display: flex;
    justify-content:center;
    align-items: center;
    background:#f5c34b;
    border-radius:0px 6px 6px 0px;
}

.navbar_fream .search_icon_box {
    width: 20px;
    height: 20px;
}


.navbar_fream .navbar_top .nav_top_menu {
    margin-left:59px;
    width:416px;
    height:50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.navbar_fream .nav_top_menu .top_menu_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.navbar_fream .top_menu_box  .box_icon_box {
    position: relative;
    margin-right: 16px;
    width: 54px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 6px;
}

.navbar_fream .box_icon_box {
    width: 22px;
    height: 22px;
}

.navbar_fream .top_menu_box  .box_info_box {
    display: flex;
    flex-direction: column;

}


.navbar_fream .box_info_box span {
    
color: rgb(255, 255, 255);
font-family: var(--font);
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.navbar_fream .box_info_box strong {
 color: rgb(255, 255, 255);
 font-family: var(--font);
 font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}

.navbar_fream .box_icon_box  .basket_count {
    position: absolute;
    width: 15px;
    height: 15px;
   
    top: -2px;
    right: -3px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: #f5c34b;

    color: rgb(11, 30, 64);
    font-family: var(--font);
    font-size: 8px;
font-weight: 700;
line-height: 10px;
letter-spacing: 0%;
text-align: left;
}

.navbar_fream .navbar_bott {
    margin-top: 20px;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    border-top: 1px solid #5746a1;
    
}

.navbar_fream .navbar_bott .navbar_bott_menu_box {
    margin-top: 10px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
}

.navbar_fream .navbar_bott_menu_box .browse_box {
    width: 185px;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #5746a1;

}

.navbar_fream .browse_box img {
    margin-right: 10px;
    width: 20px;
    height: 18px;

}

.navbar_fream .browse_box span {
 color: rgb(255, 255, 255);
 font-family: var(--font);
 font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}

.navbar_fream .navbar_bott_menu_box .navbar_route_menu {
    margin-left: 12px;
    width: 690px;
   
   
    display: flex;
    flex-direction: row;

}
.navbar_fream .navbar_route_menu .router_menu {
    margin-right: 20px;
    width: auto;
    height: 41px;

    display: flex;
}
 
.navbar_fream .router_menu a {
 color: rgb(255, 255, 255);
 font-family: var(--font);
 font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;

}

.navbar_fream .router_menu a.active {
    color: #f5c34b;
}

.navbar_fream .navbar_bott_menu_box  .sorting_menu {
    display: flex;
    flex-direction: row;

}

.navbar_fream .sorting_menu span {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-family: var(--font);
        font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
   
}

/* FOOTER FRAME */

.footer_frame {
    position: relative;
    padding: 90px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #f3f5f6;
}

.footer_frame .footer_spec_title {
    display: block;
    margin-bottom: 30px;
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 18px;
font-weight: 400;
line-height: 26px;
}

.footer_frame .container {
    flex-direction: column;
}

.footer_frame .container .footer_top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.footer_frame .footer_top .footer_contact_box {
    display: flex;
    flex-direction: column;
}

.footer_frame .footer_contact_box .footer_contact_main {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.footer_frame .footer_contact_main img {
    width: 35px;
    height: 30px;
}

.footer_frame .footer_contact_main div {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.footer_frame .footer_contact_main div strong {
    color: rgb(4, 30, 66);
    font-family: var(--font);
        font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
}

.footer_frame .footer_contact_main div span {
    margin-top: 10px;
    color: rgb(4, 30, 66);
    font-family: var(--font);
        font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
}

.footer_frame .footer_support_box {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.footer_frame .footer_support_box a {
color: rgb(4, 30, 66);
font-family: var(--font);
font-size: 14px;
font-weight: 400;
line-height: 40px;
font-style: normal;
}

.footer_frame .footer_media_box {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
}

.footer_frame .footer_media_box .footer_media_main {
    display: flex;
    flex-direction: column;
}

.footer_frame .footer_media_main .media_box {
    display: flex;
    flex-direction: row;
}

.footer_frame .media_box i {
    margin-right: 25px;
}

.footer_frame .footer_media_main .mobile_app_box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_frame .mobile_app_box img {
    width: 24px;
    height: 16px;
}

.footer_frame .mobile_app_box span {
    margin-left: 20px;
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 14px;
font-weight: 400;
line-height: 40px;
font-style: normal;
}

.footer_frame .footer_media_box .cart_box {
    width: 272px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_frame .container .footer_bottom {
    margin-top: 90px;
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-top: 1px solid #eaeaea;
}

.footer_frame .footer_bottom .footer_main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.footer_frame .footer_main  .footer_bottom_left {
    width: 940px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.footer_frame .footer_bottom_left span {
   
  margin-right: 60px;
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 14px;
font-weight: 400;
line-height: 40px;
font-style: normal;
}

.footer_frame .footer_main  .footer_bottom_right {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_frame .footer_bottom_right .footer_select_box {
    padding: 10px 20px;
    width: 180px;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
   
border: 1px solid rgb(234, 234, 234);
border-radius: 6px;
background: rgb(255, 255, 255);
}

.footer_frame .footer_select_box span {
    color: rgb(98, 105, 116);
    font-family: var(--font);
    font-size: 14px;
font-weight: 400;
font-style: normal;
}

.footer_frame .footer_select_box select {
    margin-left: 20px;
    width: 70px;
    height: 90%;
    background: none;
    border: none;
    outline:none ;
    cursor: pointer;

    color: rgb(4, 30, 66);

font-size: 14px;
font-weight: 400;
line-height: 40px;
font-style: normal;
}

/* PAGE ROUTER */
.page_router {
    margin: 20px 0px;
    width: 1320px;
}

.page_router a {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #041e42;
}

.page_router a.drop {
    margin: 0px 10px;
}

.page_router a.active {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #626974;
}



.shop_page .brands_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .brands_frame .container {
    flex-direction: column;
  }

  .container .spec_title {
    display: flex;
    flex-direction: row;
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: rgb(4, 30, 66);
    cursor: pointer;
  }

  .container .brands_wrapper {
    margin-top: 30px;
  
    display: flex;
    flex-direction: row;
  }

  .brands_wrapper .brand_box {
    margin-right: 20px;
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  
    padding: 15px 35px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
  
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgb(4, 30, 66);
    cursor: pointer;
  
    color: rgb(4, 30, 66);
  }
  

  .brands_wrapper .brand_box.active {
    background: #443297;
    color: #ffffff;
  }

  .brands_wrapper .brand_box:hover {
    background: #443297;
    color: #ffffff;
    cursor: pointer;
  }


  /* sell frame */

  .shop_page .sell_frame {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 90px;
  
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .shop_page .sell_frame .container {
    width: 1320px;
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .shop_page .container .category_top {
    position: relative;
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .sell_frame .pagionation_box .pagination_main {
    position: relative;
    margin-top: -10px;
    width: 169px;
    height: 24px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sell_frame .pagination_main .pagination_dot {
    position: relative;
    width: 86px;
    height: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  